[submodule "site-lisp/packages/racket-mode"]
	path = site-lisp/packages/racket-mode
	url = git@github.com:greghendershott/racket-mode.git
[submodule "site-lisp/packages/idris-mode"]
	path = site-lisp/packages/idris-mode
	url = git@github.com:idris-hackers/idris-mode.git
